WServiceClient/xml-resources/web-service-references/WS02/wsdl/localhost_8080/WService2/WS02.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.company.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.company.pe/">

<xs:element name="baraja" type="tns:baraja" />

<xs:element name="barajaResponse" type="tns:barajaResponse" />

<xs:complexType name="baraja">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="barajaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="fecha_contrato" type="xs:dateTime" minOccurs="0" />
<xs:element name="id_empleado" type="xs:int" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="profesion" type="xs:string" minOccurs="0" />
<xs:element name="sueldo" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>